body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.item{
    box-sizing: border-box;
    height: 100%;
    width: 18%;
    background-color: #93d366;
    color: white;
    text-align: center;
    font-family: "ms mincho";
    position: fixed; top: 0; left: 0;
    padding: 20px;
}

.item ul{
    list-style: none;
    padding: 10px;
}

.item a{
    color: antiquewhite;
    text-decoration: none;
}

.maindiv{
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 18%;
    padding: 20px;
}

.maindiv h2{
    text-align: center;
}

.menu{
    width: 82%;
    height: auto;
    position: fixed; top: 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.menu a{
  padding: 8px 16px;
  background-color: #d0e9b9;
  color: #333333;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.menu a:hover{
    background-color: #c2cefe;
}

.subdiv-meat{
    width: 90%;
    background-color: #c2bfc1;
    box-sizing: border-box;
    text-align: center;
    border-radius: 6px;
    margin: 20px auto;
    padding: 3px;
}

.subdiv-Noodles{
    width: 90%;
    background-color: #9be0da;
    box-sizing: border-box;
    text-align: center;
    border-radius: 6px;
    margin: 20px auto;
    padding: 3px;
}

.subdiv-Sweets{
    width: 90%;
    background-color: #e3f8aa;
    box-sizing: border-box;
    text-align: center;
    border-radius: 6px;
    margin: 20px auto;
    padding: 3px;
}

.subdiv-Fruit{
    width: 90%;
    background-color: #f6a9ea;
    box-sizing: border-box;
    text-align: center;
    border-radius: 6px;
    margin: 20px auto;
    padding: 3px;
}

.fooddiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.fooddiv img{
    margin-top: 20px;
}

.fooddiv img, .fooddiv iframe{
    width: 50%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}
