body{
    margin: 0;
    padding: 0;
}

.item{
    box-sizing: border-box;
    height: 100%;
    width: 18%;
    background-color: #93d366;
    color: white;
    text-align: center;
    font-family: "ms mincho";
    position: fixed; top: 0; left: 0;
    padding: 20px;
}

.item ul{
    list-style: none;
    padding: 10px;
}

.item a{
    color: antiquewhite;
    text-decoration: none;
}

.maindiv{
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 18%;
    padding: 20px;
}

.maindiv h2{
    text-align: center;
}

.subdiv{
    background-color: #bbd0ee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}

.photo img{
    width: calc(50% - 15px);
    max-width: 100%;
    height: 340px;
    display: block;
    border-radius: 6px;
    object-fit: cover;
    margin-left: auto; margin-right: auto;
}

.text{
    font-size: 18px;
}