body{
    margin: 0;
    padding: 0;
}

.item{
    box-sizing: border-box;
    height: 100%;
    width: 18%;
    background-color: #93d366;
    color: white;
    text-align: center;
    font-family: "ms mincho";
    position: fixed; top: 0; left: 0;
    padding: 20px;
}

.item ul{
    list-style: none;
    padding: 10px;
}

.item a{
    color: antiquewhite;
    text-decoration: none;
}

.maindiv{
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 18%;
    padding: 20px;
}

.maindiv h2{
    text-align: center;
}

.location{
    width: 90%;
    background-color: #b8cea8;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto 20px auto;
    padding: 20px;
}

.location .text{
    flex: 1;
    box-sizing: border-box;
    padding-left: 30px;
}

.location .image{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 15px;
    margin-bottom: 15px;
}

.image img{
    width: 48%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16 / 9;
    transition: 1s;
}

.image iframe{
    width: 48%;
    height: auto;
    border: none;
    object-fit: contain;
    border-radius: 5px;
}

img:hover{
    transform: scale(1.08);
}